@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(4, 109, 0);
}
#principal {
    text-align: center;
    color: white;
    background-color: rgb(4,109,0);
}
h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: rgb(115, 77, 198);
}
.intermediario {
    color: firebrick;
}
.avancado {
    color: rgb(9, 87, 61);
}
.destaque {
    background-color: #7878417e;
}