@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html,
body {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10pxrgba(0, 0, 0, 0.482);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login>div.imagem {
    display: block;
    background: #5f2c82 url(../img/metal.jpg);
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    background-repeat: no-repeat;
}

section#login>div#formulario {
    padding: 10px;
    display: block;
}

section#login>div#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login>div#formulario>p {
    font-size: 0.8em;
}

#enter {
    width: 100%;
    padding: 10px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: .9em;
    margin-top: 5px;
    display: block;
}
#enter:hover{
    background-color: #2a605e;
}

#esq {
    display: block;
    text-align: center;
    border: #49a09d solid 1px;
    margin-top: 5px;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(122, 119, 119);
}
#esq:hover{
    background-color: #49a09d;
    color:rgb(223, 222, 222) ;
}
form>div.campo{
    background-color: #5f2c82;
    border: #5f2c82 2px solid;
    width: 100%;
    display: block;
    height: 42px;
    border-radius: 8px;
    margin: 5px 0px;

}
label{
    display: none;
}
div.campo>span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo>input{
    background-color: #70ebe795;
    font-size: 1em;
    height: 100%;
    width: 100%;
    width: calc(100% - 45px);
    border: none;
    border-radius: 8px;
    padding:4px;
    transform:translateY(-10px);
}